<div class="header-wrapper">
    <img src="assets/6259c93c5348bb37890f8193_the%20one%20white%20font.svg">
    <div class="flex-spacer"></div>
    <nav>
        <button routerLink="home">HOME</button>
        <button routerLink="jahrbuch">JAHRBUCH</button>
        <button routerLink="shop">SHOP</button>
        <button routerLink="about">ABOUT</button>
        <button routerLink="contact">CONTACT</button>
    </nav>
    <div class="flex-spacer"></div>
    <button id="contact-button">CONTACT US</button>
</div>
