/* You can add global styles to this file, and also import other style files */
body {
    margin:0;
    padding: 0;
    display: flex;
    background:#444 ;
    flex-direction: column;
}
* {
    font-family: 'Montserrat', sans-serif;
}

.flex-spacer {
    flex: 1 1 auto;
}
